$orange:#f7681b;
$blue:#0101b6;
$blue-dark:#132F4C;
$text3:#909399;
$grey:rgba(244,248,252,1);
$white:rgba(255,255,255,.9);
$black:rgba(8,8,8,1);
$black2:rgba(23,23,23,1);
$black3:rgba(37, 37, 37,1);
$black4:rgba(60, 60, 60,1);
$black5:rgba(100, 100, 100,1);
$black6:rgba(150, 150, 150,1);
$black7:rgba(180, 180, 180,1);
$black8:rgba(210, 210, 210,1);
$black9:rgba(240, 240, 240,1);
$primary:#0101b6;
$text:#f6f6f6;